    {{>_navbar}}
    
    <!-- Account Box User Account -->

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-3"></div>
            <div class="col-lg-4 col-md-6 col-sm-8 account-box-user-account">
              {{#if error}}
                <div class="alert alert-danger">{{this.error}}</div>
              {{else}}
              {{/if}}
              {{>_msg}}
            </div>
            <div class="col-lg-4 col-md-3"></div>
        </div>
    </div>

    <!-- Account Box User Account - End -->

    {{>_footer}}


   