<link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
<link rel="stylesheet" href="/css/chessboard-1.0.0.min.css" />
<link rel="stylesheet" href="/css/styles.css" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/56ede590f2.js" crossorigin="anonymous"></script>
{{!-- <link rel="stylesheet" type="text/css" href="/css/stylesheet.css"> --}}



<style type="text/css">
body {
      background-size: 950px;
      font-family: 'Rubik';
      background-color: black;
    }

  ::selection { background: #FA6E00; color: white; } .modal { --bs-modal-width:
  50%; --bs-modal-bg: transparent; background-color: rgba(5, 5, 4, 0.85);
  font-family: 'Rubik'; } .modal-header, .modal-body { border-bottom: 3px solid
  rgba(255, 222, 255, 0.25); display: flex; flex-direction: column;
  align-content: center; justify-content: center; } .modal-header img { width:
  70px; } .modal-body { text-align: center; padding-top: 43px; padding-bottom:
  43px; } .modal-body h1 { color: #ffde00; font-size: 30px; } .modal-body h4 {
  color: white; font-size: 18px; } .modal-header, .modal-body, .modal-footer {
  background-color: #262421; color: white; } .modal-footer { border-top: none; }
  .btn-nav-btn { padding-top: 10px; padding-bottom: 10px; padding-left: 20px;
  padding-right: 20px; border: 3px solid #FA6E00; color: #DFE0DF; font-weight:
  600; background: transparent; border-radius: 3px; } .btn-nav-btn:hover {
  padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right:
  20px; border: 3px solid #FA6E00; color: #DFE0DF; font-weight: 600; background:
  #FA6E00; border-radius: 3px; transition: border 0.5s, background 0.5s, color
  0.5s; }

</style>

<audio id="myAudio">
  <source src="/mp3/soundMove.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>
<audio id="messageTone">
  <source src="/mp3/insight.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>


{{! Navbar  }}

{{>_navbar-dashboard}}


<div>

  <!-- game draw Modal  -->
 {{> _game-draw-model}}

  <!-- game loss model  -->
 {{> _game-loss-model}}

  <!-- game won model  -->
  {{> _game-win-model}}

  <div>
    <!-- Chess Board -->
    <div id="chessGame" style="background-color: black !important">
      <!-- Color Schemes -->
      <div style="text-align: center; margin: 10px">
        <button id="grey_board" class="ui button black color_b">
          GREY
        </button>
        <button id="orange_board" class="ui button grey color_b">
          ORANGE
        </button>
        <button id="green_board" class="ui button grey color_b">
          GREEN
        </button>
        <button id="blue_board" class="ui button grey color_b">BLUE</button>
      </div>
      <!-- Status and PGN -->
      <div id="statusPGN" style="text-align: center; display: none">
        <div>
          <label>
            <h3><strong>STATUS</strong></h3>
          </label>
          <div id="status">YOUR TURN</div>
        </div>
        <div>
          <label>
            <h3><strong>HISTORY</strong></h3>
          </label>
          <div
            id="pgn"
            style="
                  overflow: auto;
                  white-space: nowrap;
                  width: 500px;
                  margin: auto;
                "
          ></div>
        </div>
      </div>
      <div
        id="myBoard"
        style="
              width: 569px;
              margin: auto;
              margin-top: 10px;
              margin-bottom: 10px;
            "
      ></div>
      <div style="text-align: center; margin-bottom: 20px">
        <a href="/dashboard" class="ui button black" style="width: 569px">LEAVE
          GAME</a>
      </div>
    </div>
  </div>
</div>

<!-- Modals - End -->

{{>_footer-dashboard}}
{{!-- if we put it we don't get the menu  --}}
{{!-- <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
></script> --}}
{{!-- end  --}}
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"
></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/chessboard-1.0.0.min.js"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"
  integrity="sha384-s3XgLpvmHyscVpijnseAmye819Ee3yaGa8NxstkJVyA6nuDFjt59u1QvuEl/mecz"
  crossorigin="anonymous"
></script>
<script src="/js/single_player.js"></script>