  {{>_navbar}}
  
  <!-- Play Area -->

    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6 col-sm-12 col-md-12 play-area-cover">
            <div class="play-area-img">
               <h2 style="color:white">Join now and receive 10 diamonds for free when the platform is<br> ready.
<br> Valid only for the first 500 users. <br> Run!</h2>
            </div>
            
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12 play-area-buttons">
             <div class="play-area">       
                      <a href="/auth/signup"><button class="play-button play-button-1"><img src="img/images/play-online.png" width="60px"><span class="text-btn-1">Sign up >></span></button></a>
                      <a href="/auth/signup"><button class="play-button-competitive play-button-2 mt-3"><img src="img/images/competitive-game.png" width="55px"><span class="text-btn-2">Sign up >></span></button></a>
                      <a href="/auth/signup"><button class="play-button play-button-3 mt-3"><img src="img/images/play-computer.png" width="65px"><span class="text-btn-3">Sign up >></span></button></a>
            </div>
        </div>
       </div>
    </div>

    <!-- Play Area - End -->